.page-editor {
  background: white;
  color: black;
}

.editor {
  width: 100%;
  display: flex;
}

.editor > .pane-editor,
.editor > .pane-preview {
  width: 45%;
}

input {
  border: 0;
  border-bottom: 1px solid black;
}

button {
}
