{% extends "layout.html" %}

{% block head %}
  {{ mde.css() }}
{% endblock %}

{% block content %}
  <form method="POST" action="/admin/post/create">
    <input name="post-title" value="{{post.title}}"></input>
    <p>published: <span>{{post.published == '1'}}</span></p>
    {{ mde.editor(name='post-content', default=post.content) }}
    <label>tags:
      <input name="post-tags" value="{% for tag in post_tags %} {{tag}}{% endfor %}">
      </input>
    </label>
    {% if mode == 'edit' %}
      <button type="submit">edit post</button>
    {% elif mode == 'new' %}
      <button type="submit">create post</button>
    {% endif %}
  </form>
  {{ mde.preview }}
  {{ mde.js }}
{% endblock %}
