{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"></link>
  {{ mde.css }}
{% endblock %}

{% block messages %}
  <div class="user-notification">
    {% with messages = get_flashed_messages(category_filter=['info']) %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script>

      setTimeout(() => {
        document.querySelector('.user-notification').remove()
      }, 3000);

    </script>
  </div>
{% endblock %}

{% block content %}
  <a href="/admin/post/new"><button>create new post</button></a>
  <div class="page-admin">
    <div>
      <ul>
        {% for post in posts %}
          <li>
            <form method="POST" action="/admin/post/{{ post.id }}/publish">
              {{ post.title }} (id: {{ post.id }}) | by {{ post.first_name }} on {{ post.pub_date }} {% if post.tags %}| tags: {{ post.tags }} |{% endif %}
              {% if post.published %}
                <button type="submit" name="publish-post" value="publish">unpublish</button>
              {% else %}
              <button type="submit" name="publish-post" value="unpublish">publish</button>
              {% endif %}
              <a href="/admin/post/{{post.id}}/edit">edit</a>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
