{% block head %}
  {{ mde.css }}
  <style href="{{ url_for('static', filename='css/admin.css') }}"></style>
{% endblock %}

{% block messages %}
  <div class="user-notification">
    {% with messages = get_flashed_messages(category_filter=['info']) %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block content %}
  <div class="page-admin"
    <a href="/admin/post/new">create</a>
    <div>
      <ul>
        {% for post in posts %}
          <li>
            <a href="/admin/post/{{post.id}}/edit"><button>edit</button></a>
            <form method="POST" action="/admin/post/{{ post.id }}/publish">
              {{ post.title }} (id: {{ post.id }}) | by {{ post.first_name }} on {{ post.pub_date }} {% if post.tags %}| tags: {{ post.tags }} |{% endif %}
              {% if post.published %}
                <button type="submit" name="publish-post" value="publish">unpublish</button>
              {% else %}
                <button type="submit" name="publish-post" value="unpublish">publish</button>
              {% endif %}
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
