{% extends "admin/layout.html" %}

{% block content %}
  <div class="user-notification">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
         <li class="{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script>

      setTimeout(() => {
        document.querySelector('.user-notification').toggleClass('.user-notification-hidden');
      }, 3000);

    </script>
  </div>

  <form name="register-form" method="POST" action="/admin/register">

    {{ form.csrf_token }}

    <div>{{ form.username.label }} {{ form.username(size=20, minlength=4) }}</div>
    <div>{{ form.password.label }} {{ form.password(size=20, minlength=8) }}</div>
    <div>{{ form.confirm_password.label }} {{ form.confirm_password(size=20, minlength=8) }}</div>
    <div>{{ form.first_name.label }} {{ form.first_name }}</div>
    <div>{{ form.last_name.label }} {{ form.last_name }}</div>

    <input type="submit" value="Login" />
    <script type="text/javascript">
      const password = document.getElementById("password")
      const confirm_password = document.getElementById("confirm_password");
      function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  </form>
{% endblock %}
