{% extends "admin/layout.html" %}

{% block content %}

  <div class="user-notification">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
         <li class="{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script>

      setTimeout(() => {
        document.querySelector('.user-notification').toggleClass('.user-notification-hidden');
      }, 3000);

    </script>
  </div>

  <form name="two-factor-auth-form" method="POST" action="/admin/login">

    {{ form.csrf_token }}

    <div>{{ form.auth_code.label }} {{ form.auth_code(size=6,minlength=4, autocomplete="username") }}</div>

    <input type="submit" value="Auth" />

  </form>

{% endblock %}
