{% extends "layout.html" %}

{% block head %}
  {{ mde.css() }}
{% endblock %}

{% block content %}
  <p>
    <a href="/admin/post/new">create</a>
  </p>
  <div>
    <p>Edit a post</p>
    <ul>
      {% for post in posts %}
        <li>
          <a href="/admin/post/{{post.id}}/edit">edit</a>
          {% if post.published %}
            <a href="/admin/post/{{post.id}}/unpublish">unpublish</a>
          {% else %}
            <a href="/admin/post/{{post.id}}/publish">publish</a>
          {% endif %}
          <a href="/admin/post/{{post.id}}/edit">edit</a>
          {{ post.title }} (id: {{ post.id }} | by {{ post.author }} on {{ post.pub_date }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
