<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Machine Tone Music</title>
      {{ mde.css }}
   </head>
   <head>
      <script src="https://kit.fontawesome.com/beb61ff654.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
   </head>
   <body class="site">
     {% block content %}{% endblock %}
      <footer>
         <p>&#169; Machine Tone Music, 2021.  All Rights Reserved.</p>
         <!--
         <a href="https://facebook.com/machinetone"><i class="fab fa-facebook-f"></i></a>
         <a href="https://instagram.com/machinetone"><i class="fab fa-instagram"></i></a>
         <a href="https://machinetonemusic.bandcamp.com"><i class="fab fa-bandcamp"></i></a>
         <a href="https://soundcloud.com/machinetonemusic"><i class="fab fa-soundcloud"></i></a>
         <a href="https://twitter.com/machine_tone"><i class="fab fa-twitter"></i></a>
         -->
      </footer>
   </body>
<html>
