{% macro editor(method, action, post, mode) %}

  <div class="pane-editor">

    <form name="blog-post-form" method="{{method}}" action="{{action}} ">
      <input for="blog-post-form" name="title" value="{{post.title}}"></input>
      {{ mde.editor(name='content', default=post.content) }}

      <label>TAGS: 
        <input for="blog-post-form" name="tags" value="{{ post.post_tags | join(', ') }}" />
      </label>
      <button for="blog-post-form" type="submit">{{mode}} post</button>
    </form>

  </div>

  <div class="pane-preview">
    {{ mde.preview }}
    {{ mde.js }}
  </div>

{% endmacro %}
